/* --------------------------- Mobile-first (default) ---------------------------------- */

/* ---------------------------  min-width 500px  --------------------------------------- */
@media (min-width: 500px) {}
/* -------------------------------- min-width 992px ------------------------------------------ */
@media (min-width: 992px) {}