html, body {
    background-color: var(--main-blue);
    padding: 0;
    height: 100%; 
}

.hero {
  background-image: url('../Images_Main/Contact_me_portrait.gif');
  background-position: 0 40px;
  background-size: 100% auto;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.hero .content {
  position: relative;
  z-index: 1;
}

#contact input,
#contact textarea {
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  grid-column: 1 / -1;
}

form {
  position: relative;
  padding: 25px;  
  background-color: #feb9af;
  width: min(70vw, 550px);
  margin: auto;
  box-shadow:.4rem .4rem 0 var(--main-black);
}
form > label {
  font-weight: 600;
  letter-spacing: 0.5px;
  display: block;
  margin: 20px 5px 5px 0;
}
.formButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
button[type="button"],
button[type="submit"] {
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 11px 6px 11px;
  border-radius: 1rem;
}
button[type="button"] {
  border: 1.5px solid var(--main-black);
  color: var(--main-black);
  background-color: #feb9af;
}

/* cancel button */
button[type="button"]:hover {
  font-style: italic;
  box-shadow:
  .19rem .19rem 0 #feb9af,
  .35rem .35rem 0 var(--main-black);
}
/* submit button */
button[type="submit"] {
  border: 1.5px solid #fff961;
  color: var(--main-black);
  background-color: #fff961;
}

button[type="submit"]:hover {
  font-style: italic;
  color: var(--main-black);
  background-color: #fff961;
  box-shadow:
  .19rem .19rem 0  #feb9af,
  .35rem .35rem 0 #fff961;
}

input, textarea, select {
  font-family: var(--font-main);
  font-style: italic;
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  color: var(--main-blue);
}

input[type="text"],
input[type="email"],
textarea, select {
  display: block;
  width: 95%;
  font-size: 1rem;
  background: #feb9af;
  border-top: none;
  border-right: none;
  border-bottom: 1.5px solid var(--main-black);
  border-left: none;
  padding: 10px;
  margin-bottom: 20px;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: var(--color-white);
  border-top: none;
  border-right: none;
  border-bottom: 2px solid var(--main-blue);
  border-left: none; 
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

select {
  width: auto;
}
textarea {
  min-height: 60px;
  resize: vertical;
}
input::placeholder,
textarea::placeholder {
  color: #c74151;

}

.sticker {
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #fff961;
  border-radius: 50%;
  transform: translate(-45%, -45%) rotate(-20deg);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-black);
  box-shadow:.07rem .12rem 0 var(--main-black);
}
.sticker:hover {
  background-color: #ff78ab;
  transform: translate(-45%, -45%) rotate(0deg);
}

.nav-button--menu {
  border-top: 1px var(--color-white) solid;
  border-left: 1px var(--color-white) solid;
  border-bottom: 1px var(--color-white) solid;
  border-right: none;
}
/* ----------------------------------- tablet – min-width 500px --------------------------------------- */
@media (min-width: 500px) {
  .hero {
    background-image: url('../Images_Main/Contact_me.gif');
    background-position: center 10px;
    background-repeat: repeat-y; 
    background-size: contain;
    background-size: 90% auto;
    max-width: 949px;
  
  }
  .sticker {
    left: 0;
  }
}
/* --------------------------------- desktop – min-width 992px ----------------------------------------- */
@media (min-width: 992px) {
  .hero {
    background-position: 30px 30px;
    max-width: 1350px;
    background-repeat: no-repeat; 
  
  }
  
}