/* -------------------- Mobile-first (default) ----------------------------- */
.nested {
    display: grid;
    gap: .75rem;
    grid-template-columns: repeat(2, 1fr);
    grid-column: span 2;
}

/* -------------------------- min-width 500px ------------------------------ */
@media (min-width: 500px) {
    
    .nested {
        display: grid;
        gap: 1.2rem;
        grid-template-columns: repeat(6, 1fr);
        grid-column: span 6;
    }
    
}
/* ------------------------------------ twelve columns min-width 992px----------------------------------------- */
@media (min-width: 992px) {
    
}