html, body {
    background-color: var(--main-blue);
    padding: 0;
    height: 100%; 
}

.hero {
  background-image: url('../Images_Main/Mobile_Thanks.gif');
  background-repeat: no-repeat; 
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 100vh;
  max-width: 450px; 
  margin: 0 auto;
  position: relative;
}

.hero .content {
  position: relative;
  z-index: 1;
}

.nav-button {
  border-top: 1px var(--color-white) solid;
  border-left: 1px var(--color-white) solid;
  border-bottom: 1px var(--color-white) solid;
  border-right: none;
}


@media (min-width: 500px) {

.hero {
  background-image: url('../Images_Main/Thanks.gif');
  max-width: 900px;
}
}